## {{ ansible_managed }}
{% if caddy_tls_providers is defined %}
{% for item in caddy_tls_providers %}
({{ item.provider }}) {
    tls {
{% if item.propagation_delay is defined %}
        propagation_delay {{ item.propagation_delay }}
{% endif %}
        {{ item.challenge_type }} {{ item.provider }} {{ item.provider_api_token }}
{% if item.resolver is defined %}
        resolvers {{ item.resolver_ip }}
{% endif %}
    }
}
{% endfor %}
{% endif %}

{% if caddy_endpoints is defined %}
{% for endpoint in caddy_endpoints %}
# {{ endpoint.friendly_name }}
{% if endpoint.fqdn.startswith("*") %}
{{ endpoint.fqdn }} {
    import {{ endpoint.tls_provider }}

{% if endpoint.client_ips is defined and endpoint.client_ips is iterable %}
    @denied not client_ip {% for client_ip in endpoint.client_ips %}{{ client_ip }} {% endfor %} 
    abort @denied

{% endif %}
{% if endpoint.wildcard_endpoints is defined %}
{% for wildcard_endpoint in endpoint.wildcard_endpoints %}
    @{{ ( wildcard_endpoint.fqdn | split(".") )[0] }} host {{ wildcard_endpoint.fqdn }}
    handle @{{ ( wildcard_endpoint.fqdn | split(".") )[0] }} {
{% if wildcard_endpoint.client_ips is defined and wildcard_endpoint.client_ips is iterable %}
        @denied not client_ip {% for client_ip in wildcard_endpoint.client_ips %}{{ client_ip }} {% endfor %} 
        abort @denied
{% endif %}
{% if wildcard_endpoint.headers is defined and wildcard_endpoint.headers is iterable %}
{% for header in wildcard_endpoint.headers %}
        header {{ header.field }} {{ header.value }} 
{% endfor %}

{% endif %}
{% if wildcard_endpoint.responds is defined and wildcard_endpoint.responds is iterable %}
{% for respond in wildcard_endpoint.responds %}
        respond {{ respond.field }} {{ respond.value }} 
{% endfor %}

{% endif %}
{% if wildcard_endpoint.redirs is defined and wildcard_endpoint.redirs is iterable %}
{% for redir in wildcard_endpoint.redirs %}
        redir {{ redir.matcher }} {{ redir.to }} {{ redir.code }} 
{% endfor %}

{% endif %}
{% for upstream in wildcard_endpoint.upstream %}
{% if upstream.tls_insecure %}
        reverse_proxy {{ upstream.to }} {
            transport http {
                tls_insecure_skip_verify
            }
        }
    }
{% else %}
        reverse_proxy {{ upstream.to }} 
    }
{% endif %}
{% endfor %}
{% endfor %}
}
{% endif %}
{% else %}
{{ endpoint.fqdn }} {
{% if endpoint.client_ips is defined and endpoint.client_ips is iterable %}
    @denied not client_ip {% for client_ip in endpoint.client_ips %}{{ client_ip }} {% endfor %} 
    abort @denied

{% endif %}
{% if endpoint.headers is defined and endpoint.headers is iterable %}
{% for header in endpoint.headers %}
    header {{ header.field }} {{ header.value }} 
{% endfor %}

{% endif %}
{% if endpoint.responds is defined and endpoint.responds is iterable %}
{% for respond in endpoint.responds %}
    respond {{ respond.field }} {{ respond.value }} 
{% endfor %}

{% endif %}
{% if endpoint.redirs is defined and endpoint.redirs is iterable %}
{% for redir in endpoint.redirs %}
    redir {{ redir.matcher }} {{ redir.to }} {{ redir.code }} 
{% endfor %}

{% endif %}
{% for upstream in endpoint.upstream %}
{% if upstream.tls_insecure %}
    reverse_proxy {{ upstream.to }} {
        transport http {
            tls_insecure_skip_verify
        }
    }
{% else %}
    reverse_proxy {{ upstream.to }} 
{% endif %}
{% endfor %}
{% if endpoint.handle_path is defined and endpoint.handle_path is iterable %}
{% for handle_path in endpoint.handle_path %}
{% if handle_path.matcher is defined %}
    handle_path /sliding-sync/* {
{% if handle_path.reverse_proxy  is defined %}
        reverse_proxy {{ handle_path.reverse_proxy }} 
{% endif %}
    }
{% endif %}
{% endfor %}
{% endif %}
    import {{ endpoint.tls_provider }}
}
{% endif %}
{% endfor %}
{% endif %}
